:root {
  --base-color: #F5F7FA;
  --text-color: #333333;
  --primary-color: #0B3C5D;
  --secondary-color: #328CC1;
  --accent: #D9B310;
  --fire: #D11921;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

body {
  line-height: 1.6;
  height: 1000px;
}

header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

h1,
h2,
h3 {
  font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* div named container */
.container {
  /* border: 2px solid red; */
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

/* div inside header */
header .container {
  background-color: rgb(245, 247, 250, 0.3);
  /* background-color: rgba(99, 99, 199, 0.3); */
  backdrop-filter: blur(10px);
  padding: 0.7rem 0;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  list-style-type: none;
  display: flex;
}

header ul a {
  text-decoration: none;
  margin-right: 30px;
  color: var(--primary-color);
  border-radius: 6px;
  transition: color 0.2s ease-in;
}

header ul a:hover {
  color: var(--base-color)
}

main .hero {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 140px;
  padding: 60px 80px;
  background-image: linear-gradient(260deg, var(--secondary-color), var(--base-color));
  border-top-right-radius: 40px;
  margin-top: 160px;
}

main .hero-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .hero-letter {
  font-size: 2.8rem;
  color: var(--fire);
}

.hero-content p {
  font-size: 1.1rem;
}

main img {
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  width: 400px;
}

main .hero-buttons {
  margin-top: 40px;
  display: flex;
  gap: 12px;
}

/* primary button hero section */
main .btn {
  padding: 0.8rem 1.4rem;
  background-color: var(--primary-color);
  color: var(--base-color);
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

main .btn:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* secondary button hero section */
main .btn-secondary {
  border: 1px solid var(--primary-color);
  padding: 0.7rem 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

main .btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--base-color)
}

main .categories {
  /* border: 2px solid red; */
  width: 90%;
  margin: 80px auto;
  max-width: 1200px;
}

main h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: var(--primary-color);
}

main .category-grid {
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.card {
  /* border: 2px solid orange; */
  padding: 2.2rem 2rem 3rem 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-image: linear-gradient(180deg, var(--secondary-color), var(--base-color));
}

.card .img-container {
  width: 220px;
  height: 200px;
  background-image: url(/images/earthquake01.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto;
}

.card:nth-child(2) .img-container {
  background-image: url(/images/flood.jpg);
}

.card:nth-child(3) .img-container {
  background-image: url(/images/fire.jpg  );
}

.card:nth-child(4) .img-container {
  background-image: url(/images/first_aid.jpg  );
}

.card p {
  margin-bottom: 1.2rem;
}

.card a {
  text-decoration: none;
}

.card img {
  width: 300px;

}

.card h3 {
  font-size: 1.4rem;
}