:root {
  --base-color: #F5F7FA;
  --text-color: #333333;
  --primary-color: #0B3C5D;
  --secondary-color: #328CC1;
  --ternary-color: #D3D3D3;
  --accent: #D9B310;
  --fire: #D11921;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

body {
  line-height: 1.6;
}

/* header semantic tag */
header {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* used meeriweather font family for headings 1, 2, 3 */
h1,
h2,
h3 {
  font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* div contains header content */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

/* menu for mobile view */
header .container .hamburger-menu {
  width: 30px;
  height: 30px;
  background-color: red;
  opacity: 0;
}

/* div inside header contains header content */
header .container {
  background-color: rgb(245, 247, 250, 0.3);
  backdrop-filter: blur(10px);
  padding: 0.7rem 0;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
header .container img {
  width: 120px;
}

/* header unordered list */
header ul {
  list-style-type: none;
  display: flex;
}

/* header links */
header ul a {
  text-decoration: none;
  margin-right: 30px;
  color: var(--primary-color);
  border-radius: 6px;
  transition: color 0.2s ease-in;
}

/* hover effect to links */
header ul a:hover {
  color: var(--fire);
}

/* hero section */
main .hero {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 140px;
  padding: 60px 80px;
  background-image: linear-gradient(260deg, var(--secondary-color), var(--base-color));
  border-top-right-radius: 40px;
  margin-top: 160px;
}

/* hero section content */
main .hero-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* hero section first letter of heading */
main .hero-letter {
  font-size: 2.8rem;
  color: var(--fire);
}

/* hero section paragraph */
.hero-content p {
  font-size: 1.1rem;
}

/* images used in main section */
main img {
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  width: 400px;
}

/* buttons in hero section */
main .hero-buttons {
  margin-top: 40px;
  display: flex;
  gap: 12px;
}

/* primary button hero section */
main .btn {
  padding: 0.8rem 1.4rem;
  background-color: var(--primary-color);
  color: var(--base-color);
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

/* hover effect of primary button */
main .btn:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* secondary button hero section */
main .btn-secondary {
  border: 1px solid var(--primary-color);
  padding: 0.7rem 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

/* hover effect of secondary button */
main .btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--base-color);
}

/* categories, tips, hotline & checklist, news and youtube video sections of main */
main .categories,
main .tips,
main .hotline-checklist,
main .news,
main .videos {
  width: 90%;
  margin: 80px auto;
  max-width: 1200px;
}

/* heading 2 of main */
main h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: var(--primary-color);
}

/* grid style of category, news and youtube video */
main .category-grid,
main .news-grid,
main .video-grid {
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

/* change of style of news and youtube video grid */
main .news-grid,
main .video-grid {
  grid-template-columns: repeat(3, 1fr);
}

/* category, news & youtube video card */
.card,
.news-card,
.video-card {
  padding: 2.2rem 2rem 3rem 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-image: linear-gradient(180deg, var(--secondary-color), var(--base-color));
  transition: transform 0.25s ease-in;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

/* youtube videos */
main .video-card iframe {
  border-radius: 8px;
}

/* hover effect on category and news card */
.card:hover,
.news-card:hover {
  transform: translateY(-8px);
}

/* image container div in category and news cards */
.card .img-container,
.news-card .img-container {
  width: 220px;
  height: 200px;
  background-image: url(/images/earthquake01.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto;
}

/* image container of second card element */
.card:nth-child(2) .img-container {
  background-image: url("/images/flood.jpg");
}

/* image container of third card element */
.card:nth-child(3) .img-container {
  background-image: url("/images/fire.jpg");
}

/* image container of fourth card element */
.card:nth-child(4) .img-container {
  background-image: url("/images/first_aid.jpg");
}

/* card links */
.card a {
  text-decoration: none;
}

/* card image */
.card img {
  width: 300px;
}

/* card and tips heading */
.card h3,
.tips h3 {
  font-size: 1.4rem;
}

/* tip container of tips section */
.tips .tip {
  margin-top: 3rem;
  border-top-right-radius: 0;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: row-reverse;
  background-image: linear-gradient(90deg, var(--secondary-color), var(--base-color));
  width: 100%;
}

/* tips content */
.tips .tip-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* unorder list of tip content */
.tip-content ul {
  list-style-position: inside;
}

/* tips section image */
.tips img {
  height: 400px;
}

/* hotline and checklist section */
.hotline-checklist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* heading 2 of hotline and checklist section */
.hotline-checklist h2 {
  margin-bottom: 0;
}

/* emer-hotline & .emer-kit cards in hotline-checklist contaier */
.hotline-checklist .emer-hotline,
.hotline-checklist .emer-kit {
  padding: 3rem 2.6rem;
  background-image: linear-gradient(90deg, var(--secondary-color), var(--base-color));
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hotline-checklist .emer-hotline table {
  border-spacing: 0.3rem;
}

.hotline-checklist .emer-hotline,
th,
tr,
td {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

/* table rows of table in hotline card */
.hotline-checklist .emer-hotline tbody tr {
  transition: all 0.3s ease-in;
}

/* hover effect on each row of table */
.hotline-checklist .emer-hotline tbody tr:hover {
  color: var(--base-color);
}

/* emergecny kit card od hotline-checklist section */
.hotline-checklist .emer-kit {
  background-image: linear-gradient(260deg, var(--secondary-color), var(--base-color));
  border-top-left-radius: 0;
  border-top-right-radius: 40px;
}

.hotline-checklist .emer-kit tbody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* svg image icon */
.water-icon,
.radio-icon,
.torch-icon,
.aid-icon,
.battery-icon,
.food-icon,
.facebook-icon {
  position: relative;
  padding-left: 30px;
}

/* using before psuedocode for inserting icon */
.water-icon::before,
.radio-icon::before,
.torch-icon::before,
.aid-icon::before,
.battery-icon::before,
.food-icon::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("/icons/droplet-solid-full.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* radio icon */
.radio-icon::before {
  background-image: url("/icons/radio-solid-full.svg");
}

/* torch icon */
.torch-icon::before {
  background-image: url("/icons/torch-svgrepo-com.svg");
}

/* first aid icon */
.aid-icon::before {
  background-image: url("/icons/kit-medical-solid-full.svg");
}

/* battery icon */
.battery-icon::before {
  background-image: url("/icons/battery-full-solid-full.svg");
}

/* food icon */
.food-icon::before {
  background-image: url("/icons/bowl-food-solid-full.svg");
}

/* for phone, fire-brigade and mail icon */
.phone-icon::before,
.fire-brigade-icon::before,
.mail-icon::before {
  width: 1rem;
  height: 1rem;
}

/* social media icons */
.facebook-icon,
.whatsapp-icon,
.insta-icon,
.x-icon {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

/* links */
.social-links .links {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
}

.facebook-icon::before,
.whatsapp-icon::before,
.insta-icon::before,
.x-icon::before {
  content: "";
  position: absolute;
  display: block;
  /* left: 15px; */
  top: 50%;
  width: 24px;
  height: 24px;
  --webkit-mask-image: url("/icons/facebook-f-brands-solid-full.svg");
  mask-image: url("/icons/facebook-f-brands-solid-full.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in;
}

.facebook-icon:hover::before,
.whatsapp-icon:hover::before,
.insta-icon:hover::before,
.x-icon:hover::before {
  background-color: var(--ternary-color);
}

.whatsapp-icon::before {
  --webkit-mask-image: url("/icons/whatsapp-brands-solid-full.svg");
  mask-image: url("/icons/whatsapp-brands-solid-full.svg");
}

.insta-icon::before {
  --webkit-mask-image: url("/icons/instagram-brands-solid-full.svg");
  mask-image: url("/icons/instagram-brands-solid-full.svg");
}

.x-icon::before {
  --webkit-mask-image: url("/icons/x-twitter-brands-solid-full.svg");
  mask-image: url("/icons/x-twitter-brands-solid-full.svg");
}

.phone-icon::before {
  --webkit-mask-image: url("/icons/x-twitter-brands-solid-full.svg");
  mask-image: url("/icons/x-twitter-brands-solid-full.svg");
}

.news-card:nth-child(1) .img-container {
  background-image: url("/images/earthquake-article.jpg");
}

.news-card:nth-child(2) .img-container {
  background-image: url("/images/typhoon-article.webp");
}

.news-card:nth-child(3) .img-container {
  background-image: url("/images/heatstroke-article.avif");
}

/* footer section */
footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 60px;
  margin-top: 160px;
}

footer .footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer-links>div:nth-child(4) h4 {
  margin-bottom: 20px;
}

footer .footer-links>div:nth-child(4) iframe {
  border-top-right-radius: 20px;

}

footer .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .logo-container p,
footer .about-container p,
footer .numbers p,
footer p {
  margin-top: 10px;
  font-size: 0.8rem;
}

footer>p {
  text-align: center;
  margin-top: 20px;
}

footer .links-contact {
  display: flex;
  justify-content: space-between;
}

.quick-links .links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.quick-links .links a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--primary-color);
}

.contact .numbers {
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.quick-links .links a:hover {
  color: var(--ternary-color);
}

footer .feedback {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.feedback form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback input,
.feedback textarea {
  border: none;
  padding: 14px 10px;
  border-top-right-radius: 6px;
  background-color: var(--primary-color);
  color: var(--base-color);
}

.feedback input[type="submit"] {
  width: 20%;
  border-radius: 6px;
  color: var(--ternary-color);
  transition: all 0.25s ease-in;
  cursor: pointer;

}

.feedback input[type="submit"]:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.feedback input:focus,
.feedback textarea:focus {
  outline: none;
  box-shadow: none;
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
  main .hero {
    gap: 60px;
    padding: 40px 60px;
    border-top-right-radius: 30px;
    margin-top: 120px;
  }

  main .category-grid,
  main .news-grid,
  main .video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer .links-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  footer .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  main .hero {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(180deg, var(--secondary-color), var(--base-color));
    border-top-right-radius: 20px;
    margin-top: 120px;
  }

  main img {
    border-radius: 16px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    width: 360px;
  }

  main .categories,
  main .tips,
  main .hotline-checklist,
  main .news,
  main .videos {
    margin: 60px auto;
  }

  main .category-grid,
  main .news-grid,
  main .video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .tips .tip {
    margin-top: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, var(--secondary-color), var(--base-color));
  }

  .hotline-checklist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  main .video-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .video-card {
    align-items: center;
  }

  footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .links-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  footer .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }


}

@media screen and (max-width: 599px) and (min-width: 426) {
  .container nav {
    opacity: 0;
  }

  main .hero {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(180deg, var(--secondary-color), var(--base-color));
    border-top-right-radius: 20px;
    margin-top: 120px;
  }

  main img {
    border-radius: 16px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    width: 360px;
  }

  main .categories,
  main .tips,
  main .hotline-checklist,
  main .news,
  main .videos {
    margin: 60px auto;
  }

  main .category-grid,
  main .news-grid,
  main .video-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .tips .tip {
    margin-top: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, var(--secondary-color), var(--base-color));
  }

  .hotline-checklist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  main .video-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .video-card {
    align-items: center;
  }

  footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .links-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  footer .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  footer .feedback {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}

@media screen and (max-width: 426px) {
  .container {
    /* border: 2px solid red; */
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }

  header {
    padding: 0.6rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  /* logo */
  header .container img {
    width: 60px;
  }

  .container nav {
    opacity: 0;
  }

  main .hero {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  main img {
    width: 200px;
  }

  main .hero-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  main .hero-letter {
    font-size: 1.8rem;
    color: var(--fire);
  }

  main h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  .hero-content p {
    font-size: 0.6rem;
  }

  main .btn,
  main .btn-secondary {
    font-size: 0.6rem;
  }

  main .categories,
  main .tips,
  main .hotline-checklist,
  main .news,
  main .videos {
    margin: 30px auto;
  }

  main .category-grid,
  main .news-grid,
  main .video-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .tips .tip {
    margin-top: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, var(--secondary-color), var(--base-color));
  }

  .hotline-checklist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .hotline-checklist .emer-hotline,
  .hotline-checklist .emer-kit {
    padding: 1rem 0.6rem;
    gap: 0.6rem;
  }

  main .video-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .video-card {
    align-items: center;
  }

  footer .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .links-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  footer .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  footer .feedback {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  footer .feedback form {
    display: flex;
    align-items: center;
  }

  footer input,
  footer textarea {
    width: 80%;
  }
}